In [14]:
#Aggregating Downloaded CSV Files for Twitch

import pandas as pd

#Masterdf holds all data
#Df is the dataframe to append
#Month is a string to track month
def dfprocess(masterdf, df, month):
    df = df.drop(df.columns[[0, 1, 13]], axis=1)
    df = df.set_index("Channel");
    df["Month"] = month;
    masterdf = masterdf.append(df);
    return masterdf;  

#Initialize our dataframe to the latest month
dfmaster = pd.read_csv("data/April2020.csv");
dfmaster = dfmaster.drop(dfmaster.columns[[0, 1, 13]], axis=1)
dfmaster = dfmaster.set_index("Channel");
dfmaster["Month"] = "4-2020";

csvarray = ["March2020.csv", "February2020.csv", "January2020.csv", "December2019.csv", 
            "November2019.csv", "October2019.csv", "September2019.csv", "August2019.csv", 
            "July2019.csv", "June2019.csv", "May2019.csv", "April2019.csv"];
montharray = ["3-2020", "2-2020", "1-2020", "12-2019", "11-2019", "10-2019", "9-2019", 
             "8-2019", "7-2019", "6-2019", "5-2019", "4-2019"]

for i in range(len(csvarray)):
    dftemp = pd.read_csv("data/" + csvarray[i])
    dfmaster = dfprocess(dfmaster, dftemp, montharray[i])
    
dfmaster = dfmaster.sort_values(by=["Channel", "Watch time"], ascending=[True, False]);



dfmaster.to_csv("TotalChannelData.csv")                       
dfmaster

,Watch time,Stream time,Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language,Month
Channel,,,,,,,,,,,
72hrs,65174865,12180,20288,5350,972256,37058,1107013,True,False,English,2-2020
ALOHADANCETV,100697565,9990,21308,10079,510730,17447,3104915,True,False,Russian,8-2019
ALOHADANCETV,96405045,12345,36926,7808,510730,21400,3840711,True,False,Russian,7-2019
AdmiralBahroo,145006575,15510,16796,9348,767646,3567,1260698,True,False,English,3-2020
AdmiralBahroo,133999260,15810,18081,8475,767646,8821,1401268,True,False,English,7-2019
...,...,...,...,...,...,...,...,...,...,...,...
한동숙 (handongsuk),188429145,14880,35212,12662,367083,10536,3207465,True,False,Korean,10-2019
한동숙 (handongsuk),172225725,12900,44976,13350,367083,11525,3485505,True,False,Korean,12-2019
한동숙 (handongsuk),164133060,13200,23650,12433,367083,8387,2565913,True,False,Korean,1-2020
한동숙 (handongsuk),156923580,14565,21469,10773,367083,13152,2647573,True,False,Korean,8-2019
한동숙 (handongsuk),156028845,14700,21106,10613,367083,15374,2739395,True,False,Korean,4-2019