In [3]:
#Aggregating Downloaded CSV Files for Twitch

import pandas as pd

#Masterdf holds all data
#Df is the dataframe to append
#Month is a string to track month
def dfprocess(masterdf, df, month):
    df = df.drop(df.columns[[0, 1, 13]], axis=1)
    df = df.set_index("Channel");
    df["Month"] = month;
    masterdf = masterdf.append(df);
    return masterdf;  

#Initialize our dataframe to the latest month
dfmaster = pd.read_csv("../../data/April2020.csv");
dfmaster = dfmaster.drop(dfmaster.columns[[0, 1, 13]], axis=1)
dfmaster = dfmaster.set_index("Channel");
dfmaster["Month"] = "2020-04-01";

csvarray = ["May2020.csv","March2020.csv", "February2020.csv", "January2020.csv", "December2019.csv", 
            "November2019.csv", "October2019.csv", "September2019.csv", "August2019.csv", 
            "July2019.csv", "June2019.csv", "May2019.csv", "April2019.csv", "March2019.csv", 
            "February2019.csv", "January2019.csv", "December2018.csv"];
montharray = ["2020-05-01","2020-03-01", "2020-02-01", "2020-01-01", "2019-12-01", "2019-11-01", "2019-10-01", "2019-09-01", 
             "2019-08-01", "2019-07-01", "2019-06-01", "2019-05-01", "2019-04-01", "2019-03-01", "2019-02-01", "2019-01-01",
             "2018-12-01"]

for i in range(len(csvarray)):
    dftemp = pd.read_csv("../../data/" + csvarray[i])
    dfmaster = dfprocess(dfmaster, dftemp, montharray[i])
    
dfmaster = dfmaster.sort_values(by=["Channel", "Watch time"], ascending=[True, False]);

# Counts the occurances of a certain channel
channelcount = dfmaster.index.value_counts()

# Adds all channel names that appear less than 10 times in the dataset to the list "invalidchannels"
invalidchannels = []
mintimes = 10
for i in range(len(channelcount)):
    if channelcount[i] < mintimes:
        invalidchannels.append(channelcount.index[i])

#Drops all rows with the channel names in the list "invalidchannels" from the Dataframe 
for value in invalidchannels:
    dfmaster.drop(value, inplace=True)

indexes = dfmaster.index 

for value in dfmaster.index:
    first_val = value.find("(") + 1
    foreign_name = value
    if first_val != 0:
        second_val = value.find(")")
        foreign_name = value[first_val:second_val]
        x = value
    dfmaster = dfmaster.rename(index = {value : foreign_name})
    
    
counter = dfmaster.index.value_counts()
print("There are",counter.count(),"channels that appear at least",mintimes,"times in the dataset.")

    
dfmaster.to_csv("../../generated_data/TotalChannelData.csv")                       
dfmaster

There are 64 channels that appear at least 10 times in the dataset.

,Watch time,Stream time,Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language,Month
Channel,,,,,,,,,,,
AdmiralBahroo,145006575,15510,16796,9348,767646,3567,1260698,True,False,English,2020-03-01
AdmiralBahroo,143418315,16425,20838,8731,770171,21164,1909551,True,False,English,2018-12-01
AdmiralBahroo,133999260,15810,18081,8475,767646,8821,1401268,True,False,English,2019-07-01
AdmiralBahroo,124495740,13425,14819,9272,770090,5732,1184106,True,False,English,2020-05-01
AdmiralBahroo,113289465,13935,12942,8129,767646,2100,1091917,True,False,English,2020-04-01
...,...,...,...,...,...,...,...,...,...,...,...
handongsuk,156028845,14700,21106,10613,367083,15374,2739395,True,False,Korean,2019-04-01
handongsuk,154473075,17970,16530,8595,370232,16461,2497580,True,False,Korean,2018-12-01
handongsuk,135786870,14280,28595,9508,370214,15237,2881064,True,False,Korean,2019-03-01
handongsuk,130661070,15780,17484,8279,370214,16430,2343805,True,False,Korean,2019-02-01
handongsuk,122994315,16335,16184,7529,370214,14807,2123788,True,False,Korean,2019-01-01