In [1]:
#Testing scraper for Twitchtracker
import urllib.request as urllib
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup

import pandas as pd

#bypass 403 forbidden against web crawlers
req = Request('https://twitchtracker.com/nickmercs/subscribers', headers={'User-Agent': 'Mozilla/5.0'})
html = urlopen(req).read()

soup = BeautifulSoup(html)

table = soup.find(id="subscribers");
rows = table.find_all("tr");

df = pd.DataFrame(columns = ["Month"])

for row in rows:
    data = row.find_all("td");
    #Knowing the structure of the table, process all valid rows in standard order
    #Append each processed data item to our dataframe
    if len(data) != 0:
        month = data[0].get_text().strip()
        total = data[1].get_text().strip()
        prime = data[2].get_text().strip()
        Tier1 = data[3].get_text().strip()
        Tier2 = data[4].get_text().strip()
        Tier3 = data[5].get_text().strip()
        Unshared = data[6].get_text().strip()
        Gifted = data[7].get_text().strip()
#       If you want to see individual outputs
#         print("Date: " + month)
#         print("Viewers: " + viewers)
#         print("Channels: " + channels)
#         print("Time Watched: " + watched)
#         print("Streamers: " + streamers)
        data_dict = {"Month" : month, "Total": total, 
                     "Prime": prime, "Tier 1": Tier1, "Tier 2": Tier2, "Tier 3": Tier3, 
                     "Unshared": Unshared, "Gifted": Gifted}
        df = df.append(data_dict, ignore_index=True)
        
#Write our data and display the data
df.to_csv("channelsubdata.csv")
df

         Month Gifted  Prime Tier 1 Tier 2 Tier 3  Total Unshared
0   2018-02-01   1015   3417   3499    260    348   8682     1158
1   2018-03-01   1211   9020   3876    396    571  16128     2265
2   2018-04-01   1369   7003   4563    422    534  14514     1992
3   2018-05-01   1736  12698   5626    506    837  22875     3208
4   2018-06-01   1758  11536   5268    690   1085  21594     3015
5   2018-07-01   2121  14533   6422    791   1269  26763     3748
6   2018-08-01   2669  14980   8440    911   1316  29767     4120
7   2018-09-01   3816  16271  11147    810   3351  36563     4984
8   2018-10-01   2879  14743   8184    784   2524  30422     4187
9   2018-11-01   2092  10680   6861    634    873  22087     3039
10  2018-12-01   2981  15481  10002    845   1085  31798     4385
11  2019-01-01   4000  17628  12623    901   2452  38921     5317
12  2019-02-01   4467  13991  15202    922   1625  38286     6546
13  2019-03-01   2364  10463   7062    650   1031  23248     4042
14  2019-04-01   2190   9615   6432    490    698  20839     3604
15  2019-05-01   3776  15783  11206   1005   1226  35310      509
16  2019-06-01   3513  16494  10075    848   1277  31597      698
17  2019-07-01   5534  14831  12890    860   1345  30839      913
18  2019-08-01   3028  14262  12208    875    924  30365     2096
19  2019-09-01   2355  10108   8394    647    689  20887     1049
20  2019-10-01   4500  13981  13118    901   1058  30899     1841
21  2019-11-01   2538   9464   8634    612    725  21296     1861
22  2019-12-01   3362  10852  11091    706    786  25645     2210
23  2020-01-01   5412   9801  12491    643    677  25619     2007
24  2020-02-01   6358  10057  13561    717    721  27118     2062
25  2020-03-01   8354  14002  17150    784    810  35439     2693
26  2020-04-01  12596  16823  24384    812    786  46142     3337
27  2020-05-01  10754  15739  22609    434    214  42115     3119